<template>

    <main>

        <h1>eLearning Theorieprüfung</h1>
        <p>Die Software zur Vorbereitung auf die Hängegleiter Theorieprüfung!</p>

        <p>Sie enthält alle Fragen und Antworten, welche an der Theorieprüfung vorkommen können und umfasst alle Gebiete
            für Gleitschirm und Delta, inklusive Tandem. Die Software läuft in den vier Sprachen Deutsch, Französisch,
            Italienisch und Englisch.</p>

        <p>Du kannst damit eine echte Prüfung simulieren (Prüfungsmodus) oder alle Fragen durcharbeiten. Deine Antworten
            werden gespeichert und die Resultate sind in deiner persönlichen Statistik ersichtlich. Du kannst zB. auch
            nur noch Fragen aufrufen, welche du noch nicht richtig beantwortet hast.</p>

        <p>Die Testversion mit nur 25 Fragen pro Gebiet ist gratis. Die Vollversion mit allen Fragen kostet für ein Jahr
            25CHF - zahlbar per Kreditkarte.</p>
        <p>Das eLearning steht ausschliesslich SHV-Mitgliedern zur Verfügung.</p>

        <p><a href="#/login">Login</a></p>

    </main>

</template>