<template bindable="router">
    <require from="./nav-bar.css"></require>

    <nav init.bind="mobileNav = false">

        <span class="mobile bg ${mobileNav ? 'open' : ''}" click.delegate="mobileNav = false"></span>
        <span class="mobile button" click.delegate="mobileNav = true"></span>

        <a href="#" class="logo">${router.title}</a>

        <ul class="${mobileNav ? 'open' : ''}">
            <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
                <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href.bind="row.href">
                    <i class="fa ${row.settings.icon}"></i>
                    <span>${row.title}</span>
                </a>
            </li>
        </ul>
    </nav>
</template>
