
$bgNav: #666;
$textNav: #ddd;

//blau
//#0093d7, RGB(0,147,215)
$textLink: #0093d7;

$bgButtons: $textLink;
$textButtons: #fff;

$borderInput: $textLink;
$labelInput: $textLink;

//rot
//#c20016, RGB(194,0,22)
